@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Monoton&display=swap');


:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans',
    sans-serif;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 4.5rem;
  text-align: center;
}

p.description {
  text-align: center;
  font-size: 2rem;
}

#container {
  width: 600px;
  height: 600px;
  display: grid;
  grid-gap: 0em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  border: 4px solid red;
}

.grid-item {
  border: 1px solid #dddd;
  text-align: center;
  max-width: 1fr;
}

main {
  display: flex;
  justify-content: space-around;
  
}

/* RESPONSIVENESS */
@media (max-width: 845px) {
  main {
    display: unset;
  }
}