@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Monoton&display=swap");

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f1faee;
}

h1 {
  font-family: "Monoton", cursive;
  font-size: 4rem;
  text-align: center;
  background-color: #e63946;
  color: white;
  margin: 0;
  padding: 0.5em;
  padding-bottom: 0;
}

p.description {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
  padding: 0.5em;
  padding-top: 0;
  background-color: #e63946;
  color: white;
}

#container {
  width: 600px;
  height: 600px;
  display: grid;
  grid-gap: 0em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  border: 4px solid #1d3557;
  background-color: white;
}

.grid-item {
  border: 1px solid #dddd;
  text-align: center;
  max-width: 1fr;
}

main {
  display: flex;
  justify-content: space-around;
  margin: 2em;
  margin-bottom: 4em;
}

.customize {
  color: white;
  background-color: #457b9d;
  border-radius: 20px;
  padding: 0 2em 0 2em;
  margin: 2em;
}

.customize p {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.size-customize {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1d3557;
  border-radius: 20px;
}

.sizing {
  display: flex;
  align-items: center;
  gap: 15px;
}

textarea {
  margin: 0;
  padding: 0;
  width: 60px;
  height: 40px;
  resize: none;
  font-size: 2rem;
  text-align: center;
  box-sizing: border-box;
}

button {
  display: block;

  margin: auto;
  border: none;
  font-size: 1.5rem;
  padding: 0.4em;
  margin: 0.5em auto;
  background-color: #e63946;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.colors {
  margin-top: 4em;
  background-color: #1d3557;
  border-radius: 20px;
  padding: 0 2em 1em 2em;
}

.colors p {
  padding-top: 0.5em;
}

input[type="checkbox"] {
  width: 30px;
  transform: scale(2);
}

label {
  font-size: 1.5em;
}

.color-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RESPONSIVENESS */
@media (max-width: 1000px) {
  main {
    display: block;
    margin: 2em;
  }
  .container {
    margin: auto;
    margin-top: 2em;
  }
  .customize {
    padding-bottom: 1.5em;
    padding-top: 0.5em;
  }
}
